h1, h3, p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 2px;
}

h1 {
    font-weight: 700;
    letter-spacing: -0.03rem;
}

h3 {
    font-weight: 400;
    letter-spacing: -0.03rem;
}

p {
    font-weight: 200;
    letter-spacing: 0.15px;
}

a {
    font-family: 'Courier New', Courier, monospace;
    color: white
}


body {
    color: white;
    background-color: #000000;
}

.gridboard {
    display: grid;
    grid-template-columns: auto auto;
    padding: 14px;
}

@keyframes gridEnter {
    from { height: 0; }
    to { height: 95dvh; }
}


.gridbox {
    overflow: hidden;
    animation-name: gridEnter;
    animation-duration: 1.5s;
    height: 95dvh;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    border-radius: 1rem;
}

.grid1 {
    align-items: start;
    justify-content: start;
    width: 28dvw;
}  

.grid2 {
    align-items: start;
    justify-content: end;
    padding: 12px;
    width: 64dvw;
    overflow-x: scroll;
    scrollbar-width: none;
}

#panel {
    opacity: 20%;
    position: fixed;
    bottom: 4px;
    right: 43%;
    border-radius: 12px;
    width: auto;
    height: 40px;
    padding: 12px;
    z-index:500;
    background-color: #0203405e;
}

#panel:hover {
    opacity: 100%;
}