#root {
    font-family: "SF Pro";
    font-weight: 200;
}

body {
    z-index: -5;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        90deg,
        rgb(45, 43, 43) 0%,
        rgb(38, 38, 38) 100%
    );
}

.glass {
    padding: 2ch;
    background: linear-gradient(
        90deg,
        rgba(22, 22, 22, 0.763) 0%,
        rgba(33, 33, 33, 0.475) 100%
    );
    border-radius: 1ch;
}

.view-active {
    display: grid;
    animation: open-view 500ms ease;
}

.view-hidden {
    max-height: 0;
    visibility: hidden;
    animation: close-view 1s ease;
}

@keyframes open-view {
    0% {
        height: 0;
    }
    100% {
        height: 100vh;
    }
}

@keyframes close-view {
    0% {
        height: 100vh;
    }
    100% {
        height: 0;
    }
}

@font-face {
    font-family: "SF Pro";
    src: url(./assets/fonts/SF-Pro-Text-Regular.otf);
}

@font-face {
    font-family: "SF Pro";
    src: url(./assets/fonts/SF-Pro-Text-Bold.otf);
    font-weight: 700;
}
