#root {
    font-family: "SF Pro";
    font-weight: 200;
}

body {
    z-index: -5;
    overflow: scroll;
    background: linear-gradient(
        90deg,
        rgb(45, 43, 43) 0%,
        rgb(38, 38, 38) 100%
    );
}

.glass {
    padding: 2ch;
    background: linear-gradient(
        90deg,
        rgba(22, 22, 22, 0.763) 0%,
        rgba(33, 33, 33, 0.475) 100%
    );
    border-radius: 1ch;
}

@font-face {
    font-family: "SF Pro";
    src: url(./assets/fonts/SF-Pro-Text-Regular.otf);
}

@font-face {
    font-family: "SF Pro";
    src: url(./assets/fonts/SF-Pro-Text-Bold.otf);
    font-weight: 700;
}
