.edu-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}

.edu-container > img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.edu-info {
    background-color: white;
    color: black;
    width: 40vw;
    padding: 2ch;
    z-index: 4;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 18px;
}